<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281174583444-nl647fq5em9ij6cd793n4k7n3bb9frr9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281174583444-nl647fq5em9ij6cd793n4k7n3bb9frr9</string>
	<key>API_KEY</key>
	<string>AIzaSyAfzo1PDXUk8H5x3IXSS8fe31vcApvm1L0</string>
	<key>GCM_SENDER_ID</key>
	<string>281174583444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.altropps</string>
	<key>PROJECT_ID</key>
	<string>altropps</string>
	<key>STORAGE_BUCKET</key>
	<string>altropps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281174583444:ios:983242a66ac0808232ac81</string>
</dict>
</plist>